<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <!-- OpenGL Renderer Service -->
        <service
            android:name=".service.OglRendererService"
            android:enabled="true"
            android:exported="true"
            android:process=":render"
            android:foregroundServiceType="mediaProjection">
            <intent-filter>
                <action android:name="com.iauto.ogl.ACTION_RENDER_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
